export(lcriterion)
export(posterior_chisq_1)
export(posterior_chisq_2)
export(posterior_freeman_tukey)
export(predconcord)
exportMethods(ess)
exportMethods(gelmanDiag)
exportMethods(gelmanDiagSplit)
exportMethods(gewekeDiag)
exportMethods(mcse)
exportMethods(mcseq)
import(mcmcse)
