export(lcriterion)
export(posterior_chisq_1)
export(posterior_chisq_2)
export(posterior_freeman_tukey)
export(predconcord)
exportClasses(DIC)
exportClasses(HPD)
exportClasses(InfoCriterion)
exportClasses(WAIC)
exportMethods(dic)
exportMethods(ess)
exportMethods(gewekeDiag)
exportMethods(hpd_interval)
exportMethods(mcse)
exportMethods(mcseq)
exportMethods(rhat)
exportMethods(rhat_split)
exportMethods(waic)
import(mcmcse)
import(plyr)
importFrom(coda,spectrum0)
